<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to 'Rocket Answer', root_path, class: 'navbar-brand' %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to universities_path do %>
            <i class="fa fa-search"></i> 解答・体験談を探す
          <% end %>
        </li>
        <li>
          <%= link_to new_answer_path do %>
            <i class="fa fa-file-text-o"></i> 解答を投稿
          <% end %>
        </li>
        <li>
          <%= link_to new_exp_story_path do %>
            <i class="fa fa-comments"></i> 体験談を投稿
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to answer_stocks_path do %>
              <i class="fa fa-folder"></i> ストック一覧
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to ranking_path do %>
            <i class="fa fa-trophy"></i> ランキング
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to contact_path do %>
            <i class="fa fa-question-circle"></i> お問い合わせ
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.nickname %> さん<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i> 設定
              <% end %></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i> ログアウト
              <% end %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fa fa-rocket"></i> 利用登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
