<%= content_for :title do %><%= @department.name %><% end %>

<% breadcrumb @department %>

<p id="notice"><%= notice %></p>

<h1><%= @department.name %></h1>

<h2>投稿されている解答</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :subject, '教科') %></th>
      <th>実施年</th>
      <th>投稿ユーザ</th>
    </tr>
  </thead> 

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td>
          <%= link_to answer.subject, answer_path(answer) %>
        </td>
        <td><%= answer.year %></td>
        <td><%= answer.user.try(:nickname) %></td>
      </tr>
    <% end %>
  </tbody>
</table>