<% breadcrumb @department %>

<p id="notice"><%= notice %></p>

<h1><%= @department.name %></h1>

<h2>投稿されている解答</h2>

<p>
  <%= link_to new_answer_path(department_id: @department.id),
    class: 'btn btn-primary btn-sm' do %>
    <i class="fa fa-plus"></i> 追加
  <% end %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>操作</th>
      <th>実施年</th>
      <th>投稿ユーザ</th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td>
          <%= link_to '開く', answer_path(answer),
            class: 'btn btn-xs btn-primary' %>
        </td>
        <td><%= answer.year %></td>
        <td><%= answer.user.try(:nickname) %></td>
      </tr>
    <% end %>
  </tbody>
</table>