<p id="notice"><%= notice %></p>

<h1><%= @department.name %></h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>科目</th>
      <th>回答数</th>
    </tr>
  </thead>
  <tbody>
    <% @department.subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject_path(subject) %></td>
        <td><%= subject.answers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to new_subject_path, class: 'btn btn-primary btn-sm' do %>
    <i class="fa fa-plus"></i> 科目の追加
  <% end %>
</p>