<div id="title">
  <%= image_tag 'title_mini.png', class: 'visible-xs',alt: 'Rocket Answer - 大学編入試験問題の解答を共有しよう。' %>
  <%= image_tag 'title.png', class: 'hidden-xs',alt: 'Rocket Answer - 大学編入試験問題の解答を共有しよう。' %>
</div>

<div class="row">
  <div class="col-sm-12">
    <div id="about_service">
      <h1>What is Rocket Answer?</h1>
      <div class="text">
        <p>
          "Rocket Answer"は、大学編入学試験の『過去問の解答』を共有しあうサービスです。
        </p>
        <p>
          これまで、編入学試験の解答を入手できる経路は非常に少なく、
          <br>
          受験勉強の大きな妨げとなっていました。
        </p>
        <p>
          このサービスでは、『個人（先輩・受験生）が解いた過去問の解答』を『共有・評価』しあうことで、
          <br>
          数少ない過去問の解答を洗練し、より多くの受験生に役立てることを目指しています。
        </p>
        <p>
          みなさんのご協力をお待ちしております！
        </p>
        <div class="social_buttons">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rocket-answer.com" data-text="大学編入試験解答共有サービス - Rocket Answer" data-lang="ja" data-hashtags="rocket_answer">ツイート</a>
          <div class="fb-like" data-href="https://www.facebook.com/rocket.answer" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          <a href="http://b.hatena.ne.jp/entry/http://rocket-answer.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="大学編入試験解答共有サービス - Rocket Answer" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.hatena.ne.jp/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
        </div>
<br>
        <% unless user_signed_in? %>
          <%= link_to new_user_registration_path, class: 'btn btn-success btn-sm' do %>
            <i class="fa fa-rocket"></i>
            初めて利用する（利用登録）
          <% end %>
          <%= link_to new_user_session_path, class: 'btn btn-primary btn-sm' do %>
            <i class="fa fa-sign-in"></i>
            ログインする
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-half-primary">
      <div class="panel-heading">
        <h5><i class="fa fa-rss"></i>&nbsp;&nbsp;最近投稿された解答</h5>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <% @recent_answers.each do |answer| %>
            <li>
              <span class="label label-info">
                <i class="fa fa-user"></i>
                <%= answer.user.nickname %>
              </span>
              &nbsp;&nbsp;
              <%= link_to answer.full_name, answer %>
            </li>
          <% end %>
        </ul>
        <hr>
        <div class="pull-right">
          <%= link_to universities_path, class: 'btn btn-primary btn-sm' do %>
            <i class="fa fa-building-o"></i>
            &nbsp;
            全て見る &gt;&gt;
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="fb-like-box hidden-xs" data-href="https://www.facebook.com/rocket.answer" data-width="720px" data-height="500px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
