<%= content_for :title do %>投稿数ランキング<% end %>

<div class="page-header">
  <h1><i class="fa fa-trophy aria-hidden="true" "></i> 投稿数ランキング</h1>
</div>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>順位</th>
      <th>ユーザ名</th>
      <th>投稿数</th>
    </tr>
  </thead>

  <tbody>
    <% @ranks.each do |rank| %>
      <tr>
        <td>
          <% case rank["rank"] %>
          <% when 1 then %>
          <%  val = "gold-place" %>
          <% when 2 then %>
          <%  val = "silver-place" %>
          <% when 3 then %>
          <%  val = "bronze-place" %>
          <% else %>
          <%  val = "other-place" %>
          <% end %>
          <i class="fa fa-trophy <%= "#{val}" %> aria-hidden="true" "></i>
        <%= rank["rank"] %>位</td>
        <td><%= rank["user_answer"] %></td>
        <td><%= rank["user_answer_count"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
