<%= form_for @answer,
  html: { class: 'form-horizontal' } do |f| %>
  <%= render partial: 'shared/form_error', locals: { object: @answer } %>

  <%= f.hidden_field :department_id %>

  <div class="form-group">
    <%= f.label :department_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <p class="form-control-static"><%= @answer.department.full_name %></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :subject, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :subject, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :year, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :year, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit '作成', class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>