<%= form_for @answer,
  html: { class: 'form-horizontal' } do |f| %>
  <%= render partial: 'shared/form_error', locals: { object: @answer } %>

  <%= f.hidden_field :department_id %>

  <div class="form-group">
    <%= f.label :university_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.collection_select :university_id,
        @universities,
        :id,
        :name,
        { include_blank: true },
        class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :department_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.collection_select :department_id,
        @answer.department.try(:school).try(:departments) || [],
        :id,
        :name,
        { include_blank: true },
        class: 'form-control' %>
      <p>
        <small>
          ※一覧に登録されていない大学・学科などがありましたら、
          『<%= link_to 'お問い合わせ', contact_path %>』からご連絡ください。
        </small>
      </p>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :subject, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :subject, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :year, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <div class="input-group">
        <%= f.text_field :year, class: 'form-control' %>
        <span class="input-group-addon">年</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :exam_url, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :exam_url, class: 'form-control' %>
      <small>
        <p>
          ※過去問が公開されている場合、公開先のURLをお貼りください。
        </p>
      </small>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit '作成', class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>
