<div class="row">
  <div class="viewer">
    <!-- サムネイル -->
    <div class="col-md-3 visible-md visible-lg">
      <div class="thumbs">
        <!-- 並び替え用フォーム -->
        <%= form_for @answer do |f| %>
          <ol>
            <!-- 個別のファイル -->
            <%= f.fields_for :answer_files do |file_form| %>
              <li>
                <% if can? :update, @answer %>
                  <%= link_to answer_answer_file_path(@answer, file_form.object),
                    method: :delete, data: { confirm: 'この画像を削除してもよろしいですか？' } do %>
                    <i class="fa fa-trash-o"></i>
                  <% end %>
                <% end %>
                <%= file_form.hidden_field :order %>
                <a href="#file_<%= file_form.object.id %>">
                  <% if file_form.object.is_pdf? %>
                    PDF
                  <% else %>
                    <%= image_tag file_form.object.image.url %>
                  <% end %>
                </a>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>
    </div>

    <!-- メイン -->
    <div class="col-md-9">
      <div class="preview">
        <% @answer_files.each do |file| %>
          <% if file.is_pdf? %>
            <%= link_to file.image.url, id: "file_#{file.id}", class: 'btn btn-primary' do %>
              PDFを開く
            <% end %>
          <% else %>
            <%= image_tag file.image.url, id: "file_#{file.id}" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @answer.answer_text.present? %>
      <div class="answer_text">  
        <%= markdown(@answer.answer_text) %>
      </div>
    <% end %>
  </div>
</div>
