<% breadcrumb @answer %>

<div class="page-header">
  <h2>
    <%= @answer.name %>
  </h2>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <h4>
          <span class="label label-primary">
            <i class="fa fa-user"></i>
            <%= @answer.user.try(:nickname) %>
          </span>
        </h4>

        <%= link_to edit_answer_path(@answer),
          class: 'btn btn-success btn-sm' do %>
          <i class="fa fa-pencil"></i>
          編集
        <% end %>

        <%= link_to answer_path(@answer),
          class: 'btn btn-danger btn-sm',
          method: :delete, data: { confirm: '削除してよろしいですか？' } do %>
          <i class="fa fa-trash-o"></i>
          削除
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- ビューア -->
<%= render partial: 'viewer' %>

<!-- アップロードフォーム -->
<%= render partial: 'upload_form' %>

<hr>

<p>
  <%= link_to university_department_path(@answer.department.school, @answer.department), class: 'btn btn-info btn-sm' do %>
    <i class="fa fa-arrow-left"></i> 戻る
  <% end %>
</p>
