<% breadcrumb @answer %>

<div class="page-header">
  <h2>
    <%= @answer.name %>
  </h2>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <h4>
          <span class="label label-primary">
            <i class="fa fa-user"></i>
            <%= @answer.user.try(:nickname) %>
          </span>
        </h4>

        <% if can? :update, @answer %>
          <%= link_to edit_answer_path(@answer),
            class: 'btn btn-success btn-sm' do %>
            <i class="fa fa-pencil"></i>
            編集
          <% end %>
        <% end %>

        <% if can? :delete, @answer %>
          <%= link_to answer_path(@answer),
            class: 'btn btn-danger btn-sm',
            method: :delete, data: { confirm: '削除してよろしいですか？' } do %>
            <i class="fa fa-trash-o"></i>
            削除
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- ビューア -->
<%= render partial: 'viewer' %>

<% if can? :update, @answer %>
  <!-- アップロードフォーム -->
  <%= render partial: 'upload_form' %>
<% end %>

<hr>

<h2>コメント</h2>
<div class="comments">
  <% @answer.comments.each do |comment| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= comment.user.nickname %> さん</h3>
      </div>
      <div class="panel-body"><%= comment.content %></div>
    </div>
  <% end %>
</div>
<%= render partial: 'comments/form' %>