<%= form_for [:admin, @subject, @answer],
  html: { class: 'form-horizontal' } do |f| %>
  <%= render partial: 'shared/form_error', locals: { object: @subject } %>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :user_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :year, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.text_field :year, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>