<div class="row">
  <div class="viewer">
    <!-- サムネイル -->
    <div class="col-md-3 visible-md visible-lg">
      <div class="thumbs">
        <!-- 並び替え用フォーム -->
        <%= form_for [:admin, @subject, @answer] do |f| %>
          <ol>
            <!-- 個別のファイル -->
            <%= f.fields_for :answer_files do |file_form| %>
              <li>
                <%= link_to admin_subject_answer_answer_file_path(@subject, @answer, file_form.object),
                  method: :delete, data: { confirm: 'この画像を削除してもよろしいですか？' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
                <%= file_form.hidden_field :order %>
                <a href="#file_<%= file_form.object.id %>">
                  <%= image_tag file_form.object.image.url %>
                </a>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>
    </div>

    <!-- メイン -->
    <div class="col-md-9">
      <div class="preview">
        <% @answer_files.each do |file| %>
          <%= image_tag file.image.url, id: "file_#{file.id}" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
