<div class="page-header">
  <h1>試験科目一覧</h1>
</div>
このページはデバッグ用です。実際は、学科ごとのページで表示する。
<p>
  <%= link_to new_subject_path, class: 'btn btn-primary btn-sm' do %>
    <i class="fa fa-plus"></i> 追加
  <% end %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>操作</th>
      <th>学科</th>
      <th>科目名</th>
      <th>解答投稿数</th>
      <th>志望者数</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td>
          <%= link_to '削除', subject_path(subject),
            class: 'btn btn-xs btn-danger',
            method: :delete, data: { confirm: '削除してよろしいですか？' } %>
          <%= link_to '編集', edit_subject_path(subject),
            class: 'btn btn-xs btn-success' %>
        </td>
        <td><%= subject.department.name %></td>
        <td><%= link_to subject.name, subject_path(subject) %></td>
        <td><%= subject.answers.count %></td>
        <td>000</td>
      </tr>
    <% end %>
  </tbody>
</table>
