<ol class="breadcrumb">
  <li><%= @subject.department.school.name %></li>
  <li><%= @subject.department.name %></li>
</ol>
<div class="page-header">
  <h2><%= @subject.name %></h2>
  <%= link_to '削除', subject_path(@subject),
    class: 'btn btn-xs btn-danger',
    method: :delete, data: { confirm: '削除してよろしいですか？' } %>
  <%= link_to '編集', edit_subject_path(@subject),
    class: 'btn btn-xs btn-success' %>
</div>

<h2>投稿されている解答</h2>

<p>
  <%= link_to new_subject_answer_path(@subject),
    class: 'btn btn-primary btn-sm' do %>
    <i class="fa fa-plus"></i> 追加
  <% end %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>操作</th>
      <th>実施年</th>
      <th>投稿ユーザ</th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td>
          <%= link_to '開く', subject_answer_path(@subject, answer),
            class: 'btn btn-xs btn-primary' %>
        </td>
        <td><%= answer.year %></td>
        <td><%= answer.user.try(:nickname) %></td>
      </tr>
    <% end %>
  </tbody>
</table>