<%= form_for(@answer_file) do |f| %>
  <% if @answer_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer_file.errors.count, "error") %> prohibited this answer_file from being saved:</h2>

      <ul>
      <% @answer_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer_id %><br>
    <%= f.text_field :answer_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
