<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @answer_file.answer %>
</p>

<p>
  <strong>User:</strong>
  <%= @answer_file.user %>
</p>

<p>
  <strong>Image:</strong>
  <%= @answer_file.image %>
</p>

<%= link_to 'Edit', edit_answer_file_path(@answer_file) %> |
<%= link_to 'Back', answer_files_path %>
