<%= form_for @exp_story,
  html: { class: 'form-horizontal' } do |f| %>
  <%= render partial: 'shared/form_error', locals: { object: @exp_story } %>

  <div class="form-group">
    <%= f.label :year, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <div class="input-group">
        <%= f.text_field :year, class: 'form-control' %>
        <span class="input-group-addon">年</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :university_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.collection_select :university_id,
        @universities,
        :id,
        :name,
        { include_blank: true },
        class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :department_id, class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= f.collection_select :department_id,
        @exp_story.department.try(:school).try(:departments) || [],
        :id,
        :name,
        { include_blank: true },
        class: 'form-control' %>
      <p>
        <small>
          ※一覧に登録されていない大学・学科などがありましたら、
          『<%= link_to 'お問い合わせ', contact_path %>』からご連絡ください。
        </small>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :way, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.select :way,
        ExpStory.way.options,
        { include_blank: true },
        class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_passed, class: 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.select :is_passed,
        [['合格', true], ['不合格',false]],
        { include_blank: true },
        class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :grad_school, class: 'control-label col-sm-2' %>
    <div class="col-sm-6">
      <%= f.text_field :grad_school, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :grad_department, class: 'control-label col-sm-2' %>
    <div class="col-sm-6">
      <%= f.text_field :grad_department, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :self_intro, class: 'control-label col-sm-2' %>
    <div class="col-sm-6">
      <%= f.text_area :self_intro, class: 'form-control', rows: 10,
        placeholder: '出身校での取り組みや、サークル活動、普段の勉強法や成績、席次などを教えてください。' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :motivation, class: 'control-label col-sm-2' %>
    <div class="col-sm-6">
      <%= f.text_area :motivation, class: 'form-control', rows: 10,
        placeholder: 'この志望校を選択した経緯や理由、動機を教えてください。' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :exam, class: 'control-label col-sm-2' %>
    <div class="col-sm-6">
      <%= f.text_area :exam, class: 'form-control', rows: 10,
        placeholder: '試験科目と内容、試験の当日の様子について教えてください。' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :interview, class: 'control-label col-sm-2' %>
    <div class="col-sm-6">
      <%= f.text_area :interview, class: 'form-control', rows: 10,
        placeholder: '面接があった場合は、面接の様子や準備と対策について教えてください。' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :advice, class: 'control-label col-sm-2' %>
    <div class="col-sm-6">
      <%= f.text_area :advice, class: 'form-control', rows: 10,
        placeholder: '勉強方法や使った参考書などの情報や、後輩へのアドバイスを教えてください。' %>
    </div>
  </div>

  <div class="form-group">
    <div class="using-notice well">
      <h4><i class="fa fa-exclamation-triangle"></i> 利用に関する注意とお願い</h4>
      <p>次の点に配慮して、サービスを利用してください。</p>
      <ul>
        <li>投稿内容はあなた自身の体験談であること。</li>
        <li>投稿内容に、第三者の個人情報が含まれていないこと。</li>
        <li>投稿内容に、体験談としてふさわしくない内容を含まないこと。</li>
        <li>他人や団体を誹謗・中傷する内容等、公序良俗に反する内容が含まれていないこと。</li>
      </ul>
      <p>※以上の点が遵守されていない場合、予告なく当該投稿を削除します。</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit '作成', class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>
