<div class="row">
  <div class="viewer">
    <div class="container">
      <div class="section">
        <h3>自己紹介</h3><hr>
      </div>
      <p>
        <%= @exp_story.self_intro %><br><br>
        <span class="label label-default">
          出身学校
        </span><br>
        <%= @exp_story.grad_school %><br>
        <%= @exp_story.grad_department %><br>
      </p>

      <div class="section">
        <h3>動機</h3><hr>
      </div>
      <p>
        <%= @exp_story.motivation %>
      </p>

      <div class="section">
        <h3>試験内容</h3><hr>
      </div>
      <p>
        <%= @exp_story.exam %>
      </p>
      <div class="section">
        <h3>面接内容</h3><hr>
      </div>
      <p>
        <%= @exp_story.interview %>
      </p>
      <div class="section">
        <h3>使用した参考書やアドバイス</h3><hr>
      </div>
      <p>
        <%= @exp_story.advice %>
      </p>
    </div>
  </div>
</div>
