<%= content_for :title do %><%= @exp_story.name %><% end %>

<% breadcrumb @exp_story %>

<div class="page-header">
  <h2>
  <%= @exp_story.name %>
  </h2>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <h4>
          <span class="label label-primary">
            <i class="fa fa-user"></i>
            <%= @exp_story.user.try(:nickname) %>
          </span>
        </h4>

        <% if can? :update, @exp_story %>
          <%= link_to edit_exp_story_path(@exp_story),
            class: 'btn btn-success btn-sm' do %>
            <i class="fa fa-pencil"></i>
            編集
          <% end %>
        <% end %>

        <% if can? :delete, @exp_story %>
          <%= link_to exp_story_path(@exp_story),
            class: 'btn btn-danger btn-sm',
            method: :delete, data: { confirm: '削除してよろしいですか？' } do %>
            <i class="fa fa-trash-o"></i>
            削除
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- ビューア -->
<%= render partial: 'viewer' %>
