<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @school.type %>
</p>

<p>
  <strong>Establishment:</strong>
  <%= @school.establishment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
