<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : '大学編入試験解答共有サービス' %> - Rocket Answer</title>
    <meta name="keywords" content="編入,過去問,解答,高専,高専ベンチャー">
    <meta name="description" content="大学編入試験問題の解答を共有するサービスです。">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50342944-1', 'rocket-answer.com');
      ga('send', 'pageview');

    </script>
    <% end %>
  </head>
  <body>
    <header>
      <%= render 'menu/navbar' %>
    </header>

    <div id="main" class="container">
      <%= bootstrap_alert %>
      <%= bootstrap_notice %>

      <%= breadcrumbs style: :bootstrap %>

      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div id="title" class="col-sm-4">
            <h1>Rocket Answer</h1>
            <p>大学編入試験解答共有サービス</p>
            <p>&copy; 2014 Rocket Answer, Kosen Venture. <br>All rights reserved.</p>
          </div>
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4">
            <h3>サイトマップ</h3>
            <ul id="sitemap">
              <li><%= link_to 'トップページ', root_path %> </li>
              <li><%= link_to '開発・運営チーム', aboutus_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
