<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rocket Answer - 大学編入試験解答共有サービス</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'menu/navbar' %>
    </header>

    <div id="main" class="container">
      <%= bootstrap_alert %>
      <%= bootstrap_notice %>

      <%= breadcrumbs style: :bootstrap %>

      <%= yield %>
    </div>
  </body>
</html>
