<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : '大学編入試験解答共有サービス' %> - Rocket Answer</title>
    <meta name="keywords" content="編入,過去問,解答,高専,高専ベンチャー">
    <meta name="description" content="大学編入学試験の『過去問の解答』を共有しあうサービスです。">
    <meta name="og:site_name" content="Rocket Answer">
    <meta name="og:title" content="<%= content_for?(:title) ? yield(:title) : '大学編入試験解答共有サービス' %> - Rocket Answer">
    <meta name="og:image" content="<%= image_url 'logo_square.png' %>">
    <meta name="og:type" content="website">
    <meta name="fb:app_id" content="1391861017701246">
    <meta name="fg:page_id" content="286759698157697">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      },
      CommonHTML: { matchFontHeight: false }
    });
    </script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>

　　<% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50342944-1', 'rocket-answer.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
    <% end %>
  </head>
  <body>
    <!-- Facebook social button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=574866612602179";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <header>
      <%= render 'menu/navbar' %>
    </header>

    <div id="main" class="container">
      <%= bootstrap_alert %>
      <%= bootstrap_notice %>

      <%= breadcrumbs style: :bootstrap %>

      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div id="title" class="col-sm-4 col-xs-6">
            <h1>Rocket Answer</h1>
            <p>大学編入試験解答共有サービス</p>
            <p>
              &copy; 2014-2017 Rocket Answer,
              <a href="http://www.kosen-venture.com/" target="_blank">Kosen Venture</a>.
            </p>
            <p>
              <a href="https://github.com/KosenVenture/RocketAnswer" target="_blank">
                Source Code is on <i class="fa fa-github" style="font-size: 120%"></i>
              </a>
            </p>
          </div>
          <div class="col-sm-4 hidden-xs">
            <h3>SNSでシェア</h3>
            <div class="social_buttons">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rocket-answer.com" data-text="大学編入試験解答共有サービス - Rocket Answer" data-lang="ja" data-hashtags="rocket_answer">ツイート</a>
              <div class="fb-like" data-href="https://www.facebook.com/rocket.answer" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
              <a href="http://b.hatena.ne.jp/entry/http://rocket-answer.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="大学編入試験解答共有サービス - Rocket Answer" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.hatena.ne.jp/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
            </div>
          </div>
          <div class="col-sm-4 col-xs-6">
            <h3>サイトマップ</h3>
            <ul id="sitemap">
              <li><%= link_to 'トップページ', root_path %> </li>
              <li><%= link_to '開発・運営チーム', aboutus_path %></li>
            </ul>
            <h3>リンク</h3>
            <ul>
              <li><a href="https://twitter.com/RocketAnswer" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
              <li><a href="https://www.facebook.com/rocket.answer" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
              <li><a href="http://www.kosen-venture.com/" target="_blank">高専ベンチャー</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Twitter Social Button -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script type="text/javascript" src="https://b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </body>
</html>
